
.typinganimation {
  min-height: 2em;
    font-family: 'Courier New', monospace; /* Gives it a terminal-like appearance */
    white-space: pre; /* Maintains spacing and newlines */
    animation: blinkCursor 0.75s step-end infinite;
  }
  
  @keyframes blinkCursor {
    from, to { border-color: transparent }
    50% { border-color: black; }
  }
  