.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    color: white;
    padding: 20px;
  }
  
  .contactInfo {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    align-items: center;
  }

  .button {
    background-color: transparent;
    font-family: 'Fifaks10dev1', arial;
    font-size: 1.5em;
    padding-top: 10px;
    margin-bottom: auto;
    /* margin-top: 1em; */
    /* border: 2px solid #4CAF50*/
    color: white; /* Text color */
    padding: 10px 20px; /* Padding */
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .button:hover {
    /* background-color: #4CAF50; */
    color: rgb(var(--green)); /* Hover text color */
  }
  
  .contactLabel {
    text-wrap: nowrap;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
  }
  
  .contactLabel::after {
    content: '';
    display: block;
    width: 10em;
    height: .1em;
    background-color: rgb(var(--green));
    margin-left: 1%;
    margin-right: 1%;
  }
  
  .email {
    font-size: 16px;
  }
  
  .logo {
    margin-left: 20%;
    font-size: 80px;
    font-weight: bold;
  }
  
  .socialAndCompany {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  
  .social {
    margin-bottom: 20px;
  }
  
  .social a {
    margin: 0 5px;
  }

  .links {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    align-items: end;
  }
  
  .links a {
    color: white;
    text-decoration: none;
    margin: 0 5px;
  }

  .links h2{
    margin-right: 3em;
  }
  
  .companyInfo {
    font-size: 12px;
    text-align: right;
  }
  
  .company {
    text-align: left;
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 1em;
  }

  .mainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(var(--background)); /* Background color */
    margin: 2em;
  }
  
  .contactformcontainer {
      width: 100%;
      height: auto;
      display: flex; 
      flex-direction: row; 
      text-align: center;
      justify-content: center;
      gap: 20%;
  }
  
  .contactform {
      border-radius: 1em;
  }
  
  .formrow {
      display: flex; /* Enable Flexbox */
      flex-direction: row; /* Stack children vertically */
      align-items: center; /* Center children horizontally */
      justify-content: center;
      margin-bottom: 15px;
  }
  
  .contactfield input[type="text"],
  .contactfield input[type="email"],
  .contactfield input {
      border-radius: .3em;
      width: 80%;
      padding: .1em;
      margin: .5em 2em;
      background-color: #222; /* Darker element background */
      border-bottom: 1px solid #f0f; /* Pink border */
      color: #0f0; /* Neon green text */
      outline: none;
  }

  .contactfield input[type="message"]{
    height: 100%;
  }
  
  .contactform input::placeholder,
  .contactform textarea::placeholder {
      color: #9f9; /* Lighter green text */
  }
  
  .contactfield[id="message"]{
    height: 100%;
  }

  .contactfield{
      /* height: 100%; */
      display: flex; /* Enable Flexbox */
      flex-direction: column; /* Stack children vertically */
      align-items: center; /* Center children horizontally */
      justify-content: center;
  }
  .formimage {
      width: 30em; /* Adjust based on desired size */
      height: auto;
      object-fit: cover;
  }
    .label{
      width: 80%;
      text-align: left;
      color: grey;
    }
  
    .h1{
      color: whitesmoke;
    }
    /* YourCSSFile.module.css */
  .slidingPanel { /* Note: Using camelCase for consistency with CSS Modules convention */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(var(--background));
    box-shadow: 2px 0 5px rgba(0,0,0,0.5);
    transform: translateX(-200%);
    transition: transform 1s ease-out;
    z-index: 3;
  }
  
  .show {
    transform: translateX(0);
  }
  
  .closeBtn { /* camelCase naming */
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    font-size: 24px;
    color: rgb(var(--green));
  }
  
  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 10%;
  }
  
  .formImage{
    height: auto;
    width: 50%;
  }

  .column {
    height: auto;
    width: 80%;
    margin: 20em;
    display: flex;
    flex-direction: column;
    gap: 20px; /* Space between cards in the same column */
    margin: auto;
  }

  .svgContainer {
    width: auto; /* Set to the original width of the SVG */
    height: 30em; /* Set to the original height of the SVG */
    position: relative; /* This enables absolute positioning for contained elements */
    overflow: hidden; /* This ensures the SVG does not spill out if it's larger than the container */
}

.svgContainer img {
    position: absolute;
    top: 50%;  /* Center the SVG in the container */
    left: 50%; /* Center the SVG in the container */
    transform: translate(-50%, -50%) scale(6); /* Adjust scale as needed */
    transform-origin: center; /* Ensures the SVG scales from its center */
}

.links a img{
  height: auto;
  width: 2em;
}

.links a{
  margin-left: 1em;
  margin-right: 1em;
}

  
  @media (max-width:768px) {
    .formImage{
      display: none;
    }
  
    .row {
      position: relative; /* Absolute positioning within the imageContainer */
      display: flex;
      flex-direction: column;
      align-items: center; /* Adjust alignment as needed */
      gap: 20px; /* Space between items */
      width: auto;
  }
  }
  
  /* Media queries for responsive adjustments */
  @media (max-width: 768px) {
    .container {
      flex-direction: column;
      text-align: center;
    }
  
    .contactInfo, .socialAndCompany {
      align-items: center;
      margin-bottom: 20px;
    }
  
    .social a, .links a {
      margin: 0 10px;
    }
  }
  