.contactformcontainer {
    display: flex; /* Enable Flexbox */
    flex-direction: row; /* Stack children vertically */
    align-items: center; /* Center children horizontally */
    justify-content: center;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    
}


.contactform {
    border-radius: 1em;
    padding: 20px;
}

.formrow {
    display: flex; /* Enable Flexbox */
    flex-direction: row; /* Stack children vertically */
    align-items: center; /* Center children horizontally */
    justify-content: center;
    margin-bottom: 15px;
}

.contactfield input[type="text"],
.contactfield input[type="email"],
.contactfield input {
    border-radius: .3em;
    width: 80%;
    padding: .1em;
    margin: .5em 2em;
    background-color: #222; /* Darker element background */
    border: 1px solid #f0f; /* Pink border */
    color: #0f0; /* Neon green text */
    outline: none;
}

.contactform input::placeholder,
.contactform textarea::placeholder {
    color: #9f9; /* Lighter green text */
}

.contactform button {
    background-color: transparent;
    border: 2px solid #4CAF50; /* Border color */
    color: #4CAF50; /* Text color */
    padding: 10px 20px; /* Padding */
    cursor: pointer;
    transition: all 0.3s ease;
}

.contactform button:hover {
    background-color: #4CAF50; /* Hover background color */
    color: black; /* Hover text color */
}

.contactfield{
    width: 80%;
    display: flex; /* Enable Flexbox */
    flex-direction: column; /* Stack children vertically */
    align-items: center; /* Center children horizontally */
    justify-content: center;
}
.formimage {
    width: 30em; /* Adjust based on desired size */
    height: auto;
    object-fit: cover;
}
  .label{
    color: grey;
  }

  .h1{
    color: whitesmoke;
  }


