.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    color: white;
    padding: .4em;
  }
  
  /* .contactInfo {
    margin-left: -2em;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    align-items: center;
  } */

    .contactInfo {
    /* margin-left: -2em; */
  }

  .button {
    background-color: transparent;
    text-decoration: underline rgb(var(--green));
    /* font-family: 'Fifaks10dev1', arial; */
    font-size: 2em;
    margin-bottom: auto;
    color: white; /* Text color */
    padding: 1em 2em; /* Padding */
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .button:hover {
    /* background-color: #4CAF50; */
    color: rgb(var(--green)); /* Hover text color */
  }
  
.formlogo{
  text-align: right;
  width: 50vw;
  color: white;
  font-size: 4em;
  white-space: nowrap;
  /* margin-left: 5em; */
  margin-left: 1vw;
}

  .submitButton{
    font-family: "Radiotechnika";
    white-space: nowrap;
    margin-top: -.5em;
    color: rgb(var(--green));
    text-decoration: underline;
    padding:  0em .5em;
    font-size: 4em;
  }

  .lowerCont{
    display: flex;
    flex-direction: row-reverse;
  }

  .submitButtonLower{
    margin-right:3.4%;
    background-color: rgb(var(--green));
    border-radius: .3em;
    font-family: "Radiotechnika";
    white-space: nowrap;
    color: black;
    text-decoration: none;
    padding:  .8em .5em;
    font-size: 1em;
  }

  .submitButtonLower:hover{
    color: rgb(var(--purple));
  }
  .submitButton:hover{
    color: rgb(var(--purple));
  }

  .decButton{
    height: 2em;
    margin-left: 1em;
    font-family: "Fifaks10dev1";
    padding: .2em;
    border-top-left-radius: .3em;
    border-bottom-right-radius: .3em;
    background-color: rgb(var(--green));
    color: rgb(var(--background));
  }
  .heart{
    width: auto;
    height: 5em;
  }

  .formheader{
    /* margin-top: -9em; */
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
  }

  .contactButton{
    font-family: "NuMono";
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    text-decoration: underline rgb(189, 253, 0);
  }

  .contactLabel {
    font-family: "Radiotechnika";
    text-wrap: nowrap;
    font-size: 1em;
    font-weight: bold;
    display: flex;
    align-items: center;
  }
  
  /* .contactLabel::after {
    content: '';
    display: block;
    width: 10em;
    height: .1em;
    background-color: rgb(var(--green));
    margin-left: 1%;
    margin-right: 1%;
  } */
  
  .email {
    font-family: "Radiotechnika";
    color: rgb(var(--green));
    font-size: 1em;
    transition: all 0.3s ease-in-out;
  }
  .email:hover {
    color: rgb(var(--purple));
  }
  
  .logo {
    font-size: 3vw;
    /* margin-left: 10em; */
    /* font-size: 3em; */
    font-weight: bold;
  }
  
  .socialAndCompany {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  
  .social {
    margin-bottom: 1em;
  }
  
  .social a {
    margin: 0 .5em;
  }

  .links {
    font-weight: bold;
    margin-top: -5em;
    /* margin-left: -2em; */
  }
  .links h2{
    /* margin-left: 2.4em; */
    margin-bottom: .5em;
  }

  .links div{
    display: flex;
    
    flex-direction: row;
    margin-bottom: 1.2em;
    align-items: end;
  }
  
  .links div a {
    color: white;
    text-decoration: none;
    margin: 0 1em;
  }

  .links h2{
    margin-right: 3em;
  }
  
  .companyInfo {
    margin-top: -5em;
    font-size: .8em;
    text-align: right;
  }

  .companyInfo p{
    /* margin-right: 3em; */
  }
  
  .company {
    text-align: right;
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 1em;
  }

  .mainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(var(--background)); /* Background color */
    margin: 2em;
  }
  
  .contactformcontainer {
      width: 100%;
      height: auto;
      display: flex; 
      flex-direction: row; 
      text-align: center;
      justify-content: center;
      gap: 20%;
  }
  
  .contactform {
    margin-top: 3em;
      border-radius: 1em;
  }
  
  .formrow {
      display: flex; /* Enable Flexbox */
      flex-direction: row; /* Stack children vertically */
      align-items: center; /* Center children horizontally */
      justify-content: center;
      margin-bottom: 1em;
  }
  
  .contactfield input[type="text"],
  .contactfield input[type="email"]{
    border-radius: .3em;
    width: 60%;
    padding: .1em;
    margin: .5em 2em;
    background-color: transparent;
    border-bottom: .1em solid white; /* Pink border */
    color: grey; /* Neon green text */
    outline: none;
    resize: none;
  }
  
  .contactfield textarea{
    height: 15vh;
    border-radius: .3em;
    width: 70vw;
    padding: .1em;
    /* margin: .5em 2em; */
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: .5em;
    margin-top: 4vh;
    background-color: transparent;
    border: .1em solid rgb(var(--green)); 
    color: grey; /* Neon green text */
    outline: none;
    resize: none;
  }
  
  .contactform input::placeholder,
  .contactform textarea::placeholder {
      color: rgba(128, 128, 128, 0.493); /* Lighter green text */
  }

  .contactfield{
      display: flex; /* Enable Flexbox */
      flex-direction: column; /* Stack children vertically */
      align-items: end; /* Center children horizontally */
      justify-content: center;
  }
  .formimage {
      width: 30em; /* Adjust based on desired size */
      height: auto;
      object-fit: cover;
  }
    .label{
      width: 84%;
      text-align: left;
      color: grey;
    }
  
    .h1{
      color: whitesmoke;
    }

    .footer{
      font-size: 1vw;
      color: rgb(var(--green));
      position: fixed;
      bottom: 0;
      border-top: .1em solid grey;
      margin-top: 3em; 
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: 100%;
    }

    .footer h1{
      font-size: 2em;
      font-family: "Fifaks10dev1";
    }

  .slidingPanel { /* Note: Using camelCase for consistency with CSS Modules convention */
    font-size: 1vw;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(var(--background));
    box-shadow: .1em 0 .3em rgba(0,0,0,0.5);
    transform: translateX(-200%);
    transition: transform 1s ease-out;
    z-index: 10;
  }
  
  .show {
    transform: translateX(0);
  }
  
  .closeBtn { /* camelCase naming */
    font-size: 3vw;
    position: absolute;
    top: .8em;
    right: .8em;
    cursor: pointer;
    /* font-size: 1.5em; */
    color: rgb(var(--green));
  }
  
  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 10%;
  }
  
  .formImage{
    height: auto;
    width: 50%;
  }

  .column {
    height: auto;
    /* width: 80%; */
    /* margin: 20em; */
    display: flex;
    flex-direction: column;
    gap: 10em; 
    /* margin: auto; */
  }
  .leftText{
    font-size: 1vw;
  }

  .svgContainer {
    min-height: 200px;
    font-size: 1vh;
    max-height: 40px;
    margin-top: -3em;
    pointer-events: none;
    width: auto; /* Set to the original width of the SVG */
    height: 25em; /* Set to the original height of the SVG */
    position: relative; /* This enables absolute positioning for contained elements */
    overflow: hidden; /* This ensures the SVG does not spill out if it's larger than the container */
}

.svgContainer img {
    position: absolute;
    top: 50%;  /* Center the SVG in the container */
    left: 50%; /* Center the SVG in the container */
    transform: translate(-50%, -50%) scale(5.5); /* Adjust scale as needed */
    transform-origin: center; /* Ensures the SVG scales from its center */
}

.links a img{
  height: auto;
  width: 2em;
}

.links a{
  margin-left: 1em;
  margin-right: 1em;
}

.singleLines{
  margin-left: -10em;
  /* margin-top: 5em; */
  width: 60%;
  max-width: 100vw;
  max-height: 80vh;
}

.messageContainer{
  width: 50%;
  text-align: center;
}

.dec{
  pointer-events: none;
  margin-top: -5em;
  margin-left: 1em;
  width: auto;
  height: 5em;
}

.thankYouMessage {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  text-align: center;
}

  
  @media (max-width:768px) {
    .contactform{
      margin-top: 0;
    }
    .contactfield input[type="text"],
    .contactfield input[type="email"]{
      margin-right: -10vw;
      width: 90vw;
    }

    .lowerCont{
      margin-left: 36.7em;
      gap: 13.5em;
    }

    .column{
      gap: 1em;
      flex-direction: column-reverse;
    }

    .leftText{
      margin-left: -.5em;
      margin-top: -9.2em;
      font-size: 2.2vw;
    }
    .contactInfo{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .links{
      text-align: center;
      margin-top: 2em;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .links h2{
      margin-right: 0;
    }

    .formheader{
      margin-top: 9em;
    }

    .formImage{
      display: none;
    }
    .contactButton{
      color: rgb(var(--green));
      text-decoration: underline rgb(var(--green));
    }

    .dec{
      margin-top: 1em;
      margin-left:auto;
      margin-right:auto;
      width: auto;
      height: 20em;
    }

    .label{
      margin-bottom: -.4em;
      font-size: 1em;
    }

    .messageContainer{
      width: 100%;
    }

    .singleLines{
      font-size: 3vw;
      width: 125%;
      margin-top: 1em;
      margin-left: -10em;
    }
  
    .row {
      position: relative; /* Absolute positioning within the imageContainer */
      display: flex;
      flex-direction: column;
      align-items: center; /* Adjust alignment as needed */
      width: auto;
      margin: 0;
  }
    .container {
      flex-direction: column-reverse;
      text-align: center;
    }
  
  
    .logo{
      font-size: 10vw;
      margin: 0;
    }
    .button{
      font-size: 1em;
    }
    .companyInfo{
      margin-top: 1em;
      text-align: center;
    }
    .companyInfo p{
      margin-bottom: 2em;
    }
    .company{
      text-align: center;
    }

    .svgContainer{
      margin-top: -8em;
    }

    .formlogo{
      margin-top: 2em;
      margin-left: auto;
      text-align: end;
      width: 100%;
      font-size: 3em;
      margin-left: 0;
    }
    .submitButton{
      margin-right: 2.3em;
      font-size: 3em;
    }
    
    .contactfield textarea{
      width: 90vw;
      margin-right: -10vw;
    }

    .closeBtn{
      font-size: 10vw;
    }

    .heart{
      display: none;
    }

    .footer{
      margin-bottom: 2em;
      font-size: 3vw;
    }
  }
  