.fileuploadcontainer {
    /* font-family: "Fifaks10dev1"; */
    align-items: center;
    justify-content: center;
    width: 20em;
    position: relative;
    color: rgb(var(--background));
    display: flex;
    padding: 6px 12px;
    cursor: pointer;
    background-color: rgb(var(--green));
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px; /* Adjust as needed */
    font-family: sans-serif; /* This should match the font of your app */
    transition: background-color 0.5s ease;
}

/* You might want to add :hover and :active pseudo-classes for better UX */
/* .fileuploadcontainer:hover {
    background-color: rgb(var(--purple));
} */

.hiddenEl{
    height: 3em;
    width: 20em;
    left: 9.9em;
    top: 1em;
    transform: translate(-50%, -50%);
    position: absolute;
    opacity: 0%;
}

.outerContainer{
    margin-right: 1.2em;
    font-family: "Fifaks10dev1";
}

.fileuploadcontainer {
    display: block;
    padding: 10px 20px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.whiteButton {
    background-color: white;
    color: black;
    border: 2px solid black; /* Styling for when no file is uploaded */
}

.greenButton {
    background-color: rgb(var(--green));
    color: rgb(var(--background));
    border: 2px solid darkgreen; /* Styling for when a file is uploaded */
}

@media (max-width:768px){
    .outerContainer{
        margin-top: .5em;
        margin-right: 1em;
    }
}
  