.fileuploadcontainer {
    /* font-family: "Fifaks10dev1"; */
    align-items: center;
    text-align: center;
    white-space: nowrap;
    justify-content: center;
    width: 15em;
    position: relative;
    color: rgb(var(--background));
    display: flex;
    padding: 6px 12px;
    cursor: pointer;
    background-color: rgb(var(--green));
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px; /* Adjust as needed */
    font-family: sans-serif; /* This should match the font of your app */
    transition: background-color 0.5s ease;
}

.hiddenEl{
    height: 3em;
    width: 15em;
    left: 7.5em;
    top: 1em;
    transform: translate(-50%, -50%);
    position: absolute;
    opacity: 0%;
}

.outerContainer{
    font-size: 1vw;
    margin-right: 1.2em;
    font-family: "Fifaks10dev1";
}


.whiteButton {
    font-size: 1vw;
    /* width: 10vw; */
    height: 5vh;
    background-color: white;
    color: black;
    border: 2px solid black; /* Styling for when no file is uploaded */
}

.greenButton {
    background-color: rgb(var(--green));
    color: rgb(var(--background));
    border: 2px solid darkgreen; /* Styling for when a file is uploaded */
}

@media (max-width:768px){
    .whiteButton{
        margin-right: -15vw;
        font-size: 2vw;
        width: 30vw;
    }
    .outerContainer{
        margin-top: .5em;
        margin-right: 4.4em;
    }
}
  