@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Avenir Next Condensed';
  src: url('../fonts/Avenir\ Next\ Condensed.ttc') format('ttc');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next';
  src: url('../fonts/Avenir\ Next.ttc') format('ttc');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Fifaks10Dev1';
  src: url('../fonts/Fifaks10Dev1.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background: 16,16,16;
  --global-margin: 20em;
}

body {
  margin-top: 6em;
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background));
}

.outerConatiner {
  height: 50em;
  margin: 1em;
}

.mainText{
  color: rgb(0, 255, 0);
  font-family: 'Fifaks10Dev1', arial;
  font-size: large;
}

h1{
  font-size: 3em;
}

p{
  font-family: 'Avenir Next Condensed', arial;
}

@media (max-width: 768px){
  h1{
    font-size: 2em;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
