@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Avenir Next Condensed';
  src: url('../fonts/Avenir\ Next\ Condensed.ttc') format('ttc');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next';
  src: url('../fonts/Avenir\ Next.ttc') format('ttc');
  font-weight: normal;
  font-style: normal;
}

/* @font-face {
  font-family: 'Fifaks10Dev1';
  src: url('../fonts/Fifaks10Dev1.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
} */

@font-face {
  font-family: 'Fifaks10Dev1';
  src: local('Minecraft Rus Regular'), local('Minecraft'),
      url('../fonts/Minecraft.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NuMono';
  src: url('../fonts/NuMonoFree.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RadioTechnika';
  src: url('../fonts/Radiotechnika.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --purple: 255, 66, 218;
  /* --green: 209, 253, 0; */
  --green:189, 253, 0;
  --white: 255, 255, 255;
  /* --background: 16,16,16; */
  --background: 02,02,02;
  --global-margin: 20em;
}
html, body{
  height: 110%;
  min-height: 1200px;
}
body {
  /* aspect-ratio: 16/9; */
  backface-visibility: hidden;
  perspective: none;
  max-width: 100%;
  /* font-size: 1vw; */
  width: auto;
  overflow-x:hidden;
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background));
}

.outerConatiner {
  height: 50em;
  margin: 1em;
}

.mainText{
  margin-left: 2em;
  color: rgb(var(--green));
  font-family: 'Fifaks10Dev1', arial;
  font-size: 1.5em;
}

h1{
  color: rgb(var(--third-color));
  font-size: 3em;
}

p, h1, h2{
  font-family: 'Radiotechnika', regular;
}

.svgleft{
  position: absolute;
  transform: scale(.15);
  left: 0;
  bottom: 0;
  pointer-events: none;
}

.svgright{
  position: absolute;
  transform: scale(.15) ;
  pointer-events: none;
  bottom: 0;
  right: 0;
  
}

@media (max-width: 768px){
  .svgleft,
  .svgright{
      display: none;
  }
  body{
    width: 100%;
    overflow-x: hidden;
    font-size: 3vw;
  }

  h1{
    font-size: 1.5em;
  }

  p{
    font-size: 1em;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: nowrap;
  }
}
