.cardContainer {
    position: relative;
    display: inline-block; /* Or 'block', depending on layout needs */
    display: flex; /* Makes the card container also a flex container */
    gap: 20px; /* Space between the two columns */
  }
  
  .cardContainer img {
    width: 100%; /* Adjust as necessary */
    height: auto; /* Adjust if you need specific sizing or aspect ratios */
  }
  
  .overlayText {
    position: absolute;
    top: 70%; /* Adjust these values to position the text as desired */
    left: 40%;
    transform: translate(-50%, -50%); /* Centers the text */
    color: black; /* Choose text color that stands out over your image */
    /* Add more styling here for text appearance: font size, font family, etc. */
  }
  
.outerConatiner {
    margin: 1em;
}

.layoutContainer {
    display: flex;
    align-items: flex-start; /* Align items at the start of the container */
    gap: 20px; /* Adjust based on your design */
  }

.mainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black; /* Background color */
    color: white; /* Text color */
  }

  .imageContainer {
    /* Adjust based on your needs */
    max-width: 100%;
    min-width: 30%;
    flex-shrink: 0;
  }
  
  .imageContainer img {
    width: 100%; /* This makes the image responsive */
    height: auto; /* Maintain aspect ratio */
  }

  .row {
    display: flex;
    flex-direction: row;
    gap: 5em; /* Space between cards in the same column */
    margin: auto;
    /* Optional: set a fixed width to ensure columns are even */
  }

  .entry{
    margin: auto;
    padding-top: .2em;
    padding-bottom: .2em;
    border-top: solid whitesmoke 1px;
    border-bottom: solid whitesmoke 1px;
  }

  @media (max-width: 768px) {
    .layoutContainer {
      flex-direction: column;
    }
  
    .cardsContainer {
      flex-direction: column;
    }
  
    .row {
      width: 100%; /* Each column takes full width on smaller screens */
    }
  
    .imageContainer {
      /* Adjustments for smaller screens */
      width: 100%;
    }
  }

  