.cardontainer {
    position: relative;
    display: inline-block; /* Or 'block', depending on layout needs */
    display: flex; /* Makes the card container also a flex container */
    gap: 20px; /* Space between the two columns */
  }
  
  .cardContainer img {
    width: 100%; /* Adjust as necessary */
    height: auto; /* Adjust if you need specific sizing or aspect ratios */
  }
  
  .overlayText {
    position: absolute;
    top: 70%; /* Adjust these values to position the text as desired */
    left: 40%;
    transform: translate(-50%, -50%); /* Centers the text */
    color: black; /* Choose text color that stands out over your image */
    /* Add more styling here for text appearance: font size, font family, etc. */
  }
  
.outerConatiner {
  margin-top: var(--global-margin);
  margin-bottom: var(--global-margin);
}

.layoutContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align items at the start of the container */
    gap: 20px; /* Adjust based on your design */
  }

.mainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(var(--background)); /* Background color */
    color: white; /* Text color */
  }
  .mainContainer h1{
    margin-bottom:5em;
  }

  .imageContainer {
    max-width: 100%;
    min-width: 30%;
    flex-shrink: 0;
  }
  
  .imageContainer img {
    width: 100%; /* This makes the image responsive */
    height: auto; /* Maintain aspect ratio */
  }

  .row {
    padding: .1em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5em; /* Space between cards in the same column */
    margin: auto;
  }

  .entry{
    margin: auto;
    padding-top: .2em;
    padding-bottom: .2em;
    border-top: solid rgb(var(--white)) 1px;
    border-bottom: solid rgb(var(--white)) 1px;
  }

  .button {
    background-color: transparent;
    font-family: 'Fifaks10Dev1', arial;
    padding-top: 10px;
    margin-bottom: auto;
    /* margin-top: 1em; */
    /* border: 2px solid #4CAF50*/
    color: rgb(var(--green)); /* Text color */
    padding: 10px 20px; /* Padding */
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .button:hover {
    /* background-color: #4CAF50; */
    color: rgb(var(--purple)); /* Hover text color */
  }

.p {
  color: grey;
}

.img{
  height: auto;
  width: 30%;
}

.ol{
  /* box-shadow: 0em 0em 2.5em .5em rgba(0, 0, 0, 1); */
  background-color: transparent;
}

/* Add these styles to your hh.module.css */

.description {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
}

.expanded {
  max-height: 20em; /* Adjust based on your content */
  height: 15em;
  transition: max-height 0.5s ease-in, height 0.5s ease-in;
}

.jobName{
  padding-top: 10px;
  margin-bottom: auto;
}

@media (max-width: 768px) {
    .layoutContainer {
      flex-direction: column;
    }
    .img{
      display: none;
    }
  
    .cardsContainer {
      flex-direction: column;
    }
  
    .row {
      width: 100%; 
    }
    .entry{
      margin: auto;
      padding-top: .2em;
      padding-bottom: .2em;
      border-top: solid whitesmoke 1px;
      border-bottom: solid whitesmoke 1px;
      gap: 0em;
    }
  
    .imageContainer {
      width: 100%;
    }
  }

  