.cardontainer {
    position: relative;
    display: inline-block; /* Or 'block', depending on layout needs */
    display: flex; /* Makes the card container also a flex container */
    gap: 1.1em; 
  }
  
  .cardContainer img {

    width: 100%; /* Adjust as necessary */
    height: auto; /* Adjust if you need specific sizing or aspect ratios */
  }
  
  .overlayText {
    position: absolute;
    top: 70%; /* Adjust these values to position the text as desired */
    left: 40%;
    transform: translate(-50%, -50%); /* Centers the text */
    color: black; /* Choose text color that stands out over your image */
    /* Add more styling here for text appearance: font size, font family, etc. */
  }
  
.outerContainer {
  font-size: 1vw;
}

.layoutContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align items at the start of the container */
    gap: auto; /* Adjust based on your design */
  }

.mainContainer {
  position: relative;
    display: flex;
    justify-self: center;
    flex-direction: column;
    width: 25%;
    padding-right: 50%;
    justify-content: center;
    align-items: center;
    color: white; /* Text color */
    /* margin:auto; */
    margin-left: 29.8em;
    margin-bottom: 1em;
  }

  .imageContainer {
    max-width: 100%;
    min-width: 30%;
    flex-shrink: 0;
  }
  
  .imageContainer img {
    width: 80%; /* This makes the image responsive */
    height: auto; /* Maintain aspect ratio */
  }

  .row {
    padding: .1em;
    display: flex;
    flex-direction: row;
    margin-right:-5em;
    justify-content: center;
    align-items: center;
    gap: 5em; /* Space between cards in the same column */
  }

  .entry{
    width: 100%;
    margin-top: -.15em;
    padding-top: .4em;
    padding-bottom: .4em;
    border-top: solid grey .15em;
    border-bottom: solid grey .15em;
  }

  .button {
    text-wrap: nowrap;
    white-space: nowrap;
    background-color: transparent;
    font-family: 'Fifaks10Dev1', arial;
    padding-top: 0.8em;
    margin-bottom: auto;
    /* margin-top: 1em; */
    /* border: 2px solid #4CAF50*/
    color: rgb(var(--green)); /* Text color */
    padding: .8em 1.2em; /* Padding */
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .button:hover {
    /* background-color: #4CAF50; */
    color: rgb(var(--purple)); /* Hover text color */
  }

.p {
  margin-top: 0.2em;
  font-size: 1em;
  color: white;
}

.img{
  pointer-events: none;
  align-self:baseline;
  margin-top: -4%;
  margin-left: -20%;
  height: auto;
  /* width: 18%; */
  width: 20%;
}

.ol{
  /* box-shadow: 0em 0em 2.5em .5em rgba(0, 0, 0, 1); */
  width: 65em;
  margin-right: 0%;
  background-color: transparent;
}

.description {
  /* pointer-events: none; */
  width: 60%;
  max-height: 3.4em;
  height: fit-content;
  overflow: hidden;
  transition: max-height 0.4s ease-in-out, height 0.5s ease-in;
}


.expanded {
  max-height: 35em; 
}

.jobName{
  font-size: 1.5em;
  text-wrap: nowrap;
  white-space: nowrap;
  /* margin-bottom: auto; */
  margin-left: 0;
}

.decrHeader{
  margin-top: .3em;
  font-size: 1.5em;
  margin-bottom: .1em;
  color: white;
}

.hidden{
  display: none;
}

.dec{
  pointer-events: none;
  position: absolute;
  top: -2.5em;
  right: -10em;
  width: auto;
  height: 10em;
}

.hunt{
  font-size:5em;
  width:100%;
  text-align:left;
  text-wrap:nowrap;
  white-space: nowrap;
  padding-right:3em;
}

.heads{
  font-size:5em;
  width:100%;
  text-align:right;
  padding-left:3em;
  margin-top:-0.5em;
}

.vacancies{
  color: white;
  font-size:4em;
  margin-top:1em;
  margin-bottom:.1em;
}

@media (max-width: 768px) {
  .outerContainer{
    font-size: 3vw;
  }
  .mainContainer{
    margin-left: 10em;
  }
    .layoutContainer {
      flex-direction: column;
    }

    .dec{
      display: none;
      top: 6em;
      left: 13em;
    }
    .jobName{
      font-size: 1em;
    }

    .jobName span{
      font-size: 1em;
    }
    .img{
      display: none;
    }

    .hunt{
      font-size: 3em;
    }
    .heads{
      font-size: 3em;
    }

    .vacancies{
      font-size: 3em;
      margin-left: .5em;
    }

    .p{
      padding: .1em;
      margin-left: .5em;
    }
    .ol{
      width: auto;
    }
  
    .cardsContainer {
      flex-direction: column;
    }
  
    .row {
      /* margin-left: -2.2em; */
      width: 90%; 
    }

    .decrHeader{
      display: none;
      opacity: 0;
      pointer-events: none;
      font-size: 1em;
    }

    .entry{
      margin: auto;
      padding-top: .2em;
      padding-bottom: .2em;
      border-top: solid whitesmoke .2em;
      border-bottom: solid whitesmoke .2em;
      gap: 0em;
    }
  
    .imageContainer {
      width: 100%;
    }
  }

  