.svgleft{
    display: none;
    position: absolute;
    transform: scale(1) translate(50%, 50%);
    left: -95%;
    top: 100%;
    pointer-events: none;
}

.svgright{
    display: none;
    position: absolute;
    transform: scale(.2) translate(50%, 50%);
    pointer-events: none;
    top: -150%;
    right: -35%;
    
}

@media (max-width:768px){
    .svgleft,
    .svgright{
        display: none;
    }
}