.company{ 
  font-size: 4em;
  text-align: left;
}
.mainContainer {
  /* font-size: 2vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(var(--background));
  /* Background color */
  color: white;
  /* Text color */
  margin-top: 3vh;
  margin-left: 1vw;
  margin-right: 1vw;
  margin-bottom: 2em;
  border-radius: 1em;
  padding: 3em;
  border: rgb(var(--green)) .2em solid;
  height: 85vh;
}

.textContainer {
  font-size: 1vw;
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 60%;
  max-width: 70%;
  margin-top: -15em;
  /* Adjust based on your layout needs */
}

.descrleft{
  font-size: 2em;
  max-width: 7em;
  margin-bottom: -3em;
}
.descrright{
  font-size: 1em;
  max-width: 15em;
}


.footer {
  font-size: 1vw;
  width: 40em;
  height: auto;
  position: absolute;
  top: 75vh;
  left: 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3em;
}

.column {
  position: absolute;
  display: grid;
  /* Absolute positioning within the imageContainer */
  bottom: 0;
  /* Align to the bottom of the imageContainer */
  right: 0;
  /* Align to the right of the imageContainer */
  justify-content: center;
  align-items: center;
  /* Adjust alignment as needed */
  gap: 1.2em;
  /* Space between items */
  max-width: 50%;
}


.button {
  background-color: transparent;
  /* Border color */
  color: rgb(var(--green));
  /* Text color */
  padding: .8em 1.2em;
  /* Padding */
  cursor: pointer;
  transition: all 0.3s ease;
  width: fit-content;
  height: fit-content;
  overflow: hidden;
  font-family: 'Fifaks10Dev1';
  height: auto;
  width: fit-content;
  margin-left: -1.1em;
}

.button:hover {
  /* Hover background color */
  color: rgb(var(--purple));
  /* Hover text color */
}


.imageContainer img {
  pointer-events: none;
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 100%;
  margin-left:-10%;
}


.imageContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  position: relative;
  /* Crucial for positioning the column */
  max-width: 60em;
  height: 80dvh;
  max-height: 100%;
}

.row{
  margin-left: -2em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}
.row p{
  text-align: center;
}

.mediabuy{
  font-size: 3.5em;
  text-align:right;
}


@media (max-width: 768px) {
  .company{
    text-align: left;
    font-size: 8em;
    margin-right: -1em;
  }

  .descrleft{
    font-size: 5em;
    margin-left: 5.5em;
  }

  .descrright{
    font-size: 2em;
    text-align: center;
    margin-left: 0em;
  }

  .mediabuy{
    font-size: 7em;
  }

  .outerContainer {
    padding: 0;
    margin: 0;
  }

  .mainContainer {
    margin-top: 5em;
    flex-direction: column;
    align-items: center;
    height: auto;
    padding: 1em;
    border: none;
  }

  .header {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    font-size: 2em;
    margin: 0.5em 0;
  }

  .textContainer {
    width: 100%;
    max-width: 100%;
    margin-top: 1em;
    padding: 0;
  }


  .textContainer p {
    text-align: center;
  }

  .imageContainer {
    margin-top: 17em;
    /* width: 50%; */
    max-width: max-content;
    height: auto;
    align-items: center;
    display: flex;
    flex-direction: column-reverse;
  }

  .imageContainer img {
    width: 100%;
    margin: 0;
  }

  .column {
    margin-left: 2em;
    margin-top: 3em;
    position: relative;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1em;
  }

  .button {
    margin-top: .2em;
    font-size: 2em;
    margin-left: auto;
    padding: 0.6em 1em;
    margin-right: auto;
  }

  .footer {
    font-size: 1em;
    position: absolute;
    top: 30em;
    left: -1em;
    width: 100%;
    padding-top: 1em;
    justify-content: center;
  }
  .row{
    margin-left: 8em;
    margin-right: auto;
  }


  .row img {
    width: 1.5em;
    height: 1.5em;
  }
}
