.outerConatiner {
    margin: 1em;
}

.layoutContainer {
    display: flex;
    align-items: flex-start; /* Align items at the start of the container */
    gap: 20px; /* Adjust based on your design */
  }

.mainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(var(--background)); /* Background color */
    color: white; /* Text color */
  }

  .imageContainer {
    /* Adjust based on your needs */
    max-width: 10%;
    min-width: 30%;
    flex-shrink: 0;
  }
  
  .imageContainer img {
    width: 100%; /* This makes the image responsive */
    height: auto; /* Maintain aspect ratio */
  }
  .row{
    display: flex;
    justify-content: center;
    align-items: center;
  }