.tag_bg {
    width: 100%;
    /* Adjust as necessary */
    height: auto;
    /* Adjust if you need specific sizing or aspect ratios */
}

p.overlayText {
    position: absolute;
    text-wrap: nowrap;
    top: -18%;
    left: 50%;
    transform: translate(-50%, 50%);
    font-size: 1.5em;
    font-family: "Fifaks10dev1";
    white-space: nowrap;
    color: rgb(var(--background));
    /* Choose text color that stands out over your image */
}

h2.overlayText {
    font-size: .8em;
    position: absolute;
    text-wrap: nowrap;
    top: 50%;
    left: 50%;
    font-family: "Fifaks10dev1";
    transform: translate(-50%, 50%);
    white-space: nowrap;
    color: rgb(var(--background));
    /* Choose text color that stands out over your image */
}

.tagContainer {
    align-self: flex-end;
    position: relative;
    text-align: center;
    height: auto;
    width: 30%;
}