.cardContainer {
  width: auto;
  height: 100%;
    position: relative;
    display: inline-block; /* Or 'block', depending on layout needs */
    display: flex; /* Makes the card container also a flex container */
    gap: 20px; /* Space between the two columns */
    transition: transform 0.3s ease-in-out;
  }
  
  .cardContainer:hover{
    transform: scale(1.2);
  }
  
  .card_bg {
    width: 100%; /* Adjust as necessary */
    height: auto; /* Adjust if you need specific sizing or aspect ratios */
  }
  
  .overlayTextPurple {
    font-family: "Fifaks10dev1";
    font-size: 1.5em;
    position: absolute;
    top: 75%; /* Adjust these values to position the text as desired */
    left: 37%;
    transform: translate(-50%, -50%); /* Centers the text */
    color: black; /* Choose text color that stands out over your image */
  }
  .overlayTextGreen {
    font-family: "Fifaks10dev1";
    font-size: 1.5em;
    position: absolute;
    top: 80%; /* Adjust these values to position the text as desired */
    left: 30%;
    transform: translate(-50%, -50%); /* Centers the text */
    color: black; /* Choose text color that stands out over your image */
  }
  
.outerConatiner {
  margin-top: var(--global-margin);
  margin-bottom: var(--global-margin);
}

.layoutContainer {
    display: flex;
    align-items: flex-start; /* Align items at the start of the container */
    gap: 20px; /* Adjust based on your design */
  }

.mainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(var(--background)); /* Background color */
    color: white; /* Text color */
  }

  .imageContainer {
    /* Adjust based on your needs */
    max-width: 100%;
    min-width: 30%;
    flex-shrink: 0;
  }
  
  .imageContainer img {
    width: 100%; /* This makes the image responsive */
    height: auto; /* Maintain aspect ratio */
  }

  .row {
    display: flex;
    flex-direction: row;
    gap: 20px; /* Space between cards in the same column */
    margin: auto;
  }

  .column {
    height: auto;
    width: 80%;
    margin: 20em;
    display: flex;
    flex-direction: column;
    gap: 20px; /* Space between cards in the same column */
    margin: auto;
  }

  .cardGrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-left: 10%;
    margin-right: 2%;
    gap: 2em;
  }

  .innerImage {
    z-index: 3;
    height: auto;
    width: 30%;
    position: absolute;
    top: 30%;
    left: 17%;
    transform: translate(-50%, -50%);
  }

  .item1{
    grid-row: 1;
    grid-column: 2;
  }
  .item2{
    grid-row: 1;
    grid-column: 3;
  }
  .item3{
    grid-row: 1;
    grid-column: 4;
  }
  .item4{
    grid-row: 2;
    grid-column: 1;
  }
  .item5{
    grid-row: 2;
    grid-column: 2;
  }
  .item6{
    grid-row: 2;
    grid-column: 3;
  }

  @media (max-width: 768px) {
    .layoutContainer {
      flex-direction: column;
    }

    .innerImage{
      display: none;
    }

    .overlayText{
      top: 50%;
      font-size: 1em;
    }

    .row {
      height: auto;
      width: 80%;
      margin: 20em;
      display: flex;
      flex-direction: column;
      gap: 20px; /* Space between cards in the same column */
      margin: auto;
    }

    .column {
      display: flex;
      flex-direction: row;
      gap: 20px; /* Space between cards in the same column */
      margin: auto;
    }
  
    .cardsContainer {
      flex-direction: column;
    }
  
    .row {
      width: 100%; /* Each column takes full width on smaller screens */
    }
  
    .imageContainer {
      /* Adjustments for smaller screens */
      width: 100%;
    }

    .cardGrid{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 15em 15em;
      margin-left: 5em;
      margin-right: 5em;
      gap: 1em;
    }

    .item1{
      grid-column: 1;
      grid-row: 2;
  }
  .item2{
      grid-column: 1;
      grid-row: 3;
  }
  .item3{
      grid-column: 1;
      grid-row: 4;
  }
  .item4{
      grid-column: 2;
      grid-row: 1;
  }
  .item5{
      grid-column: 2;
      grid-row: 2;
  }
  .item6{
      grid-column: 2;
      grid-row: 3;
  }
  
  }

  