.outerContainer {
  margin-top: var(--global-margin);
  margin-bottom: var(--global-margin);
}

.mainContainer {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    padding-left: 2%;
    background-color: rgb(var(--background)); /* Background color */
    color: white; /* Text color */
}

.imageContainer {
    max-width: 10%;
    min-width: 30%;
    flex-shrink: 0;
    display: flex; /* Align the logo containers in a row */
    justify-content: center; /* Center the logo containers */
}

.logoContainer {
  position: relative;
  width: 100%; /* Adjust based on your frame size */
  height: 100%; /* Adjust based on your frame size */
  display: flex;
  justify-content: center;
  align-items: center;
}

.frameImage {
  width: 100%; /* Full width of the container */
  height: auto; /* Maintain aspect ratio */
  z-index: 1; /* Ensure it's under the logo image */
}

.logoImage {
  position: absolute;
  transform: rotate(30deg);
  width: 4em; /* Adjust for size inside the frame */
  height: 4em; /* Adjust for size inside the frame */
  z-index: 2; /* Ensure logo appears above the frame image */
  transition: transform 0.3s ease-in-out;
}
.row{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logoImage:hover{
  transform: scale(1.2);
}

.logoBorder{
  position: absolute;
  width: auto;
  height: 32em;
}

@media (max-width: 768px){
  .imageContainer{
    margin-top: 5em;
    max-width: 100%;
  }

  .mainContainer{
    flex-direction: column;
  }

  .dec{
    display: none;
  }
}